<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 >WELCOME HOME PAGE</h1><br><br>

Add User:
<form action="/addAuthor" method="post">
    <input type="text" name="name" placeholder="Please input name"/><br>
    <input type="text" name="surname" placeholder="Please input surname"/><br>
    <input type="text" name="email" placeholder="please input email"/> <br>
    <select name="gender">
        <option disabled selected value>Your gender</option>
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
    </select><br>
    <textarea name="bio" id="bio" placeholder="Add bio"></textarea> <br>
    <input type="submit" value="Add author">
</form><br><br>


Add Book:
<form action="/addBook" method="post">
    <input type="text" name="title" placeholder="Please input title"/><br>
    <input type="text" name="price" placeholder="Please input price"/><br>
    <textarea name="description" id="description" placeholder="description"></textarea> <br>
    <select name="authorId">
        <option th:each="author:${authors}" th:value="${author.id}" th:text="${author.name}"></option>
    </select><br>
    <input type="submit" value="Add book">
</form>
<br><br><br>


<div style="left: auto " >
    <a href="/allAuthors">View All Authors</a><br><br>
    <a href="/allBooks">View All Books</a>
</div>








</body>
</html>